<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>
 
  </ion-navbar>

</ion-header>

<ion-content class="background-page">

<ion-input type="text" [(ngModel)]="mytext" placeholder="example"></ion-input>
<button ion-button (click)="addData()">add</button>


<ion-list>
  <ion-item *ngFor="let q of exe| async">
    <p>{{q.example}}</p>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item *ngFor="let q of test">
    <p>{{q.example}}</p>
  </ion-item>
</ion-list>
<button ion-button full (click)="getdata()">Get Data</button>


</ion-content>
